* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body h1 {
  color: white;
  font-size: 2.4rem;
}

body h2 {
  color: red;
  font-size: 2rem;
  text-align: center;
}

body h3 {
  color: red;
  font-size: 2.5rem;
  text-align: center;
}

body h4 {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

body p {
  color: white;
}

body button {
  background-color: red;
  color: white;
  cursor: pointer;
  margin: 2% auto;
  padding: 1% 2%;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body button:hover {
  padding: 2% 4%;
  font-size: 1.4rem;
}

@media (min-width: 576px) and (max-width: 768px) {
  .overlay {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .on {
    position: absolute;
    width: 100%;
    height: 397.5vh;
    margin: 0;
    padding: 0%;
    display: block;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
  }
  .container {
    width: 100%;
  }
  .container header {
    background-color: #2c2c2c;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header .logo {
    width: 30%;
    text-decoration: none;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }
  .container header .nav-bar {
    width: 50%;
  }
  .container header .nav-bar .nav-link {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    top: 0;
    border-radius: 2rem;
    right: -22rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .nav-bar .nav-link li {
    margin: auto;
    list-style: none;
    text-align: center;
    margin: 1rem 0;
  }
  .container header .nav-bar .nav-link li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .container header .nav-bar .nav-link li a:hover {
    color: red;
  }
  .container header .nav-bar .nav-link li .buy {
    color: red;
  }
  .container header .nav-bar .show {
    right: 5rem;
  }
  .container header .btn {
    width: 2rem;
  }
  .container main {
    background-color: #2c2c2c;
    width: 100%;
  }
  .container main a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .container main li {
    list-style: none;
  }
  .container main span {
    color: #c61616;
  }
  .container main h2 {
    text-align: center;
    font-size: 1.4em;
    color: #c61616;
    margin: 2% 0;
  }
  .container main h3 {
    font-size: 1.2rem;
  }
  .container main h4 {
    font-size: 1rem;
    color: #c61616;
    margin: 2% 0;
  }
  .container main p {
    margin: 2% 0;
    font-size: 1rem;
  }
  .container main .rental-welcome-image {
    padding: 2rem 0;
    background-color: #313131;
  }
  .container main .rental-welcome-image .image {
    margin: 3% auto;
    text-align: center;
  }
  .container main .rental-welcome-image .image img {
    width: 75vw;
  }
  .container main .rental-welcome-image .welcome {
    width: 80%;
    margin: auto;
  }
  .container main .rental-welcome-image .welcome button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c61616;
    color: white;
    font-weight: bold;
  }
  .container main .rental-welcome-image .image2 {
    display: none;
  }
  .container main .rent-list {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container main .rent-list .rent-item {
    background-color: grey;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
  }
  .container main .rent-list .rent-item img {
    width: 20rem;
  }
  .container main .rent-list .rent-item .details {
    font-weight: bold;
  }
  .container main .rent-list .rent-item .year {
    color: black;
    font-weight: bold;
  }
  .container main .rent-list .rent-item button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .container main .rent-list .rent-item button:hover {
    background-color: #c61616;
    color: white;
  }
  .container footer {
    width: 100%;
    text-align: center;
    background-color: #313131;
    padding: 1% 0;
  }
  .container footer .logo-copyright-social {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer h1 {
    font-size: 2.5vw;
  }
  .container footer .logo-copyright-social p {
    font-size: 2vw;
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer img {
    width: 2rem;
    margin: 2%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .overlay {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .on {
    position: absolute;
    width: 100%;
    height: 397.5vh;
    margin: 0;
    padding: 0%;
    display: block;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
  }
  .container {
    width: 100%;
  }
  .container header {
    background-color: #2c2c2c;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header .logo {
    width: 30%;
    text-decoration: none;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }
  .container header .nav-bar {
    width: 50%;
  }
  .container header .nav-bar .nav-link {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    top: 0;
    border-radius: 2rem;
    right: -22rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .nav-bar .nav-link li {
    margin: auto;
    list-style: none;
    text-align: center;
    margin: 1rem 0;
  }
  .container header .nav-bar .nav-link li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .container header .nav-bar .nav-link li a:hover {
    color: red;
  }
  .container header .nav-bar .nav-link li .buy {
    color: red;
  }
  .container header .nav-bar .show {
    right: 5rem;
  }
  .container header .btn {
    width: 2rem;
  }
  .container main {
    background-color: #2c2c2c;
    width: 100%;
  }
  .container main a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .container main li {
    list-style: none;
  }
  .container main span {
    color: #c61616;
  }
  .container main h2 {
    text-align: center;
    font-size: 1.4em;
    color: #c61616;
    margin: 2% 0;
  }
  .container main h3 {
    font-size: 1.2rem;
  }
  .container main h4 {
    font-size: 1rem;
    color: #c61616;
    margin: 2% 0;
  }
  .container main p {
    margin: 2% 0;
    font-size: 1rem;
  }
  .container main .rental-welcome-image {
    padding: 2rem 0;
    background-color: #313131;
  }
  .container main .rental-welcome-image .image {
    margin: 3% auto;
    text-align: center;
  }
  .container main .rental-welcome-image .image img {
    width: 75vw;
  }
  .container main .rental-welcome-image .welcome {
    width: 80%;
    margin: auto;
  }
  .container main .rental-welcome-image .welcome button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c61616;
    color: white;
    font-weight: bold;
  }
  .container main .rental-welcome-image .image2 {
    display: none;
  }
  .container main .rent-list {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container main .rent-list .rent-item {
    background-color: grey;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
  }
  .container main .rent-list .rent-item img {
    width: 20rem;
  }
  .container main .rent-list .rent-item .details {
    font-weight: bold;
  }
  .container main .rent-list .rent-item .year {
    color: black;
    font-weight: bold;
  }
  .container main .rent-list .rent-item button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .container main .rent-list .rent-item button:hover {
    background-color: #c61616;
    color: white;
  }
  .container footer {
    width: 100%;
    text-align: center;
    background-color: #313131;
    padding: 1% 0;
  }
  .container footer .logo-copyright-social {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer h1 {
    font-size: 2.5vw;
  }
  .container footer .logo-copyright-social p {
    font-size: 2vw;
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer img {
    width: 2rem;
    margin: 2%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .overlay {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .on {
    position: absolute;
    width: 100%;
    height: 397.5vh;
    margin: 0;
    padding: 0%;
    display: block;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
  }
  .container {
    width: 100%;
  }
  .container header {
    background-color: #2c2c2c;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header .logo {
    width: 30%;
    text-decoration: none;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }
  .container header .nav-bar {
    width: 50%;
  }
  .container header .nav-bar .nav-link {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    top: -25rem;
    border-radius: 2rem;
    right: 5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .nav-bar .nav-link li {
    margin: auto;
    list-style: none;
    text-align: center;
    margin: 1rem 0;
  }
  .container header .nav-bar .nav-link li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .container header .nav-bar .nav-link li a:hover {
    color: red;
  }
  .container header .nav-bar .nav-link li .buy {
    color: red;
  }
  .container header .nav-bar .show {
    top: 0rem;
  }
  .container header .btn {
    width: 2rem;
  }
  .container main {
    background-color: #2c2c2c;
    width: 100%;
  }
  .container main a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .container main li {
    list-style: none;
  }
  .container main span {
    color: #c61616;
  }
  .container main h2 {
    text-align: center;
    font-size: 1.4em;
    color: #c61616;
    margin: 2% 0;
  }
  .container main h3 {
    font-size: 1.2rem;
  }
  .container main h4 {
    font-size: 1rem;
    color: #c61616;
    margin: 2% 0;
  }
  .container main p {
    margin: 2% 0;
    font-size: 1rem;
  }
  .container main .rental-welcome-image {
    padding: 2rem 0;
    background-color: #313131;
  }
  .container main .rental-welcome-image .image {
    margin: 3% auto;
    text-align: center;
  }
  .container main .rental-welcome-image .image img {
    width: 75vw;
  }
  .container main .rental-welcome-image .welcome {
    width: 80%;
    margin: auto;
  }
  .container main .rental-welcome-image .welcome button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c61616;
    color: white;
    font-weight: bold;
  }
  .container main .rental-welcome-image .image2 {
    display: none;
  }
  .container main .rent-list {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container main .rent-list .rent-item {
    background-color: grey;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
  }
  .container main .rent-list .rent-item img {
    width: 20rem;
  }
  .container main .rent-list .rent-item .details {
    font-weight: bold;
  }
  .container main .rent-list .rent-item .year {
    color: black;
    font-weight: bold;
  }
  .container main .rent-list .rent-item button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .container main .rent-list .rent-item button:hover {
    background-color: #c61616;
    color: white;
  }
  .container footer {
    width: 100%;
    text-align: center;
    background-color: #313131;
    padding: 1% 0;
  }
  .container footer .logo-copyright-social {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer h1 {
    font-size: 2.5vw;
  }
  .container footer .logo-copyright-social p {
    font-size: 2vw;
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer img {
    width: 2rem;
    margin: 2%;
  }
}

@media (min-width: 1200px) {
  .overlay {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .on {
    position: absolute;
    width: 100%;
    height: 397.5vh;
    margin: 0;
    padding: 0%;
    display: block;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
  }
  .container {
    width: 100%;
  }
  .container header {
    background-color: #2c2c2c;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header .logo {
    width: 30%;
    text-decoration: none;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }
  .container header .nav-bar {
    width: 50%;
  }
  .container header .nav-bar ul {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .container header .nav-bar ul li {
    margin: auto;
    list-style: none;
  }
  .container header .nav-bar ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .container header .nav-bar ul li a:hover {
    color: red;
  }
  .container header .nav-bar ul li .buy {
    color: red;
  }
  .container header .btn {
    display: none;
  }
  .container main {
    background-color: #2c2c2c;
    width: 100%;
  }
  .container main a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .container main li {
    list-style: none;
  }
  .container main span {
    color: #c61616;
  }
  .container main h2 {
    text-align: center;
    font-size: 1.4em;
    color: #c61616;
    margin: 2% 0;
  }
  .container main h3 {
    font-size: 1.2rem;
  }
  .container main h4 {
    font-size: 1rem;
    color: #c61616;
    margin: 2% 0;
  }
  .container main p {
    margin: 2% 0;
    font-size: 1rem;
  }
  .container main .rental-welcome-image {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #313131;
  }
  .container main .rental-welcome-image .image {
    display: none;
  }
  .container main .rental-welcome-image .welcome {
    width: 30%;
    margin: auto;
  }
  .container main .rental-welcome-image .welcome button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c61616;
    color: white;
    font-weight: bold;
  }
  .container main .rental-welcome-image .image2 {
    margin: 3% auto;
  }
  .container main .rental-welcome-image .image2 img {
    width: 45vw;
  }
  .container main .rent-list {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container main .rent-list .rent-item {
    background-color: grey;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
  }
  .container main .rent-list .rent-item img {
    width: 20rem;
  }
  .container main .rent-list .rent-item .details {
    font-weight: bold;
  }
  .container main .rent-list .rent-item .year {
    color: black;
    font-weight: bold;
  }
  .container main .rent-list .rent-item button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .container main .rent-list .rent-item button:hover {
    background-color: #c61616;
    color: white;
  }
  .container footer {
    width: 100%;
    text-align: center;
    background-color: #313131;
    padding: 1% 0;
  }
  .container footer .logo-copyright-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer h1 {
    font-size: 2.5vw;
  }
  .container footer .logo-copyright-social p {
    font-size: 1.5vw;
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer img {
    width: 2rem;
    margin: 2% 3%;
  }
}

@media (min-width: 1400px) {
  .overlay {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .on {
    position: absolute;
    width: 100%;
    height: 397.5vh;
    margin: 0;
    padding: 0%;
    display: block;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
  }
  .container {
    width: 100%;
  }
  .container header {
    background-color: #2c2c2c;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header .logo {
    text-decoration: none;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
  }
  .container header .nav-bar {
    width: 50%;
  }
  .container header .nav-bar ul {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .container header .nav-bar ul li {
    margin: auto;
    list-style: none;
  }
  .container header .nav-bar ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .container header .nav-bar ul li a:hover {
    color: red;
  }
  .container header .nav-bar ul li .buy {
    color: red;
  }
  .container header .btn {
    display: none;
  }
  .container main {
    background-color: #2c2c2c;
    width: 100%;
  }
  .container main a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .container main li {
    list-style: none;
  }
  .container main span {
    color: #c61616;
  }
  .container main h2 {
    text-align: center;
    font-size: 1.4em;
    color: #c61616;
    margin: 2% 0;
  }
  .container main h3 {
    font-size: 1.2rem;
  }
  .container main h4 {
    font-size: 1rem;
    color: #c61616;
    margin: 2% 0;
  }
  .container main p {
    margin: 2% 0;
    font-size: 1rem;
  }
  .container main .rental-welcome-image {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #313131;
  }
  .container main .rental-welcome-image .image {
    display: none;
  }
  .container main .rental-welcome-image .welcome {
    width: 30%;
    margin: auto;
  }
  .container main .rental-welcome-image .welcome button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c61616;
    color: white;
    font-weight: bold;
  }
  .container main .rental-welcome-image .image2 {
    margin: 3% auto;
  }
  .container main .rental-welcome-image .image2 img {
    width: 45vw;
  }
  .container main .rent-list {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container main .rent-list .rent-item {
    background-color: grey;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
  }
  .container main .rent-list .rent-item img {
    width: 20rem;
  }
  .container main .rent-list .rent-item .details {
    font-weight: bold;
  }
  .container main .rent-list .rent-item .year {
    color: black;
    font-weight: bold;
  }
  .container main .rent-list .rent-item button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .container main .rent-list .rent-item button:hover {
    background-color: #c61616;
    color: white;
  }
  .container footer {
    width: 100%;
    text-align: center;
    background-color: #313131;
    padding: 1% 0;
  }
  .container footer .logo-copyright-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .logo-footer h1 {
    font-size: 2vw;
  }
  .container footer .logo-copyright-social p {
    font-size: 1.2vw;
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer {
    margin: auto;
  }
  .container footer .logo-copyright-social .social-mail-footer .social-footer img {
    width: 2rem;
    margin: 2% 3%;
  }
}
/*# sourceMappingURL=buy.css.map */