* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  //background-color: rgb(34, 34, 34);
  h1 {
    color: white;
    font-size: large;
  }
  h2 {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    color: red;
    font-size: 2.5rem;
    text-align: center;
  }
  h4 {
    color: red;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    color: white;
  }
  button {
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 2% auto;
    padding: 1% 2%;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: 0.5s;
  }
  button:hover {
    padding: 2% 4%;
    font-size: 1.4rem;
  }
  .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    transition: 0.5s;
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
    header {
      background-color: rgb(44, 44, 44);
      padding: 0.5rem;
      display: flex;
      .logo {
        width: 30%;
        text-decoration: none;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
      }
      .nav-bar {
        width: 50%;
        .nav-link {
          width: 30%;
          height: auto;
          display: block;
          margin: auto;
          position: fixed;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 1rem 0;
          top: 0;
          border-radius: 2rem;
          right: -22rem;
          transition: 0.5s;
          li {
            margin: auto;
            list-style: none;
            text-align: center;
            margin: 1rem 0;
            a {
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none;
              color: white;
            }
            a:hover {
              color: red;
            }
            .home {
              color: red;
            }
          }
        }
        .show {
          right: 5rem;
        }
      }
      .btn {
        width: 2rem;
      }
    }
    main {
      width: 100%;
      .login-form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 50%;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 35%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
          text-align: center;
          padding: 2% 0;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          padding: 0 5%;
          input {
            width: 80%;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 50%;
        text-align: center;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 25%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          input {
            width: 15rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .show {
        top: 5%;
      }
      .welcome-image-message {
        width: 100%;
        margin: auto;
        background-color: rgb(34, 34, 34);
        .welcome-image {
          margin: auto;
          width: 80%;
          img {
            margin: auto;
            width: 60vw;
          }
        }
        .welcome-message {
          width: 100%;
          margin: auto;
          padding: 2%;
          text-align: left;
          h1 {
            font-size: 3.2rem;
            color: white;
            span {
              color: red;
            }
          }
          p {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 2% 0;
          }
        }
        .sign-up-form {
          width: 50%;
          background-color: rgb(40, 40, 40);
          color: white;
          font-weight: bold;
          font-size: 1.4rem;
          padding: 3% 5%;
          position: fixed;
          left: 25%;
          top: -70%;
          border-radius: 5rem;
          text-align: center;
          transition: 1s;
          input {
            margin: 2% auto;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
            width: 35%;
          }
          .names {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            input {
              margin: auto;
            }
          }
          .email-password {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            display: block;
            input {
              width: 38%;
            }
          }
          select {
            width: 20%;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
          }
        }
        .show {
          top: 10%;
        }
      }
      .services {
        width: 100%;
        margin: auto;
        padding: 3% 5%;
        background-color: rgb(49, 49, 49);
        .services-list {
          display: flex;
          flex-wrap: wrap;
          .service-item {
            width: 70%;
            margin: 2% auto;
            padding: 1%;
            background-color: grey;
            border-radius: 2rem;
            text-align: center;
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .models {
        padding: 2% 0;
        background-color: rgb(34, 34, 34);
        .model-list {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          .model-item {
            display: flex;
            width: 70%;
            margin: 1.5% auto;
            padding: 1% 2%;
            background-color: rgb(66, 66, 66);
            text-align: center;
            border-radius: 2rem;
            img {
              margin: auto;
              width: 5rem;
            }
            h3 {
              font-size: 2rem;
              margin: auto;
            }
          }
        }
      }
      .benefits {
        width: 100%;
        padding: 2% 0;
        background-color: rgb(66, 66, 66);
        .benefit-list-image {
          display: flex;
          .benefit-list {
            margin: 2% 0;
            .benefit-item {
              width: 70%;
              display: flex;
              background-color: black;
              padding: 2% 5%;
              margin: 5% auto;
              border-radius: 5rem;
              text-align: left;
              h4 {
                text-align: left;
              }
              img {
                margin: auto;
                width: 4vw;
              }
            }
          }
          .benefit-image {
            display: none;
          }
        }
      }
      .some-cars {
        padding: 2.5%;
        background-color: rgb(34, 34, 34);
        h2 {
          padding: 2.5%;
        }
        .some-images {
          .car-item {
            text-align: center;
            margin: auto;
            img {
              width: 40vw;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .review {
        background-color: rgb(66, 66, 66);
        width: 100%;
        text-align: left;
        h2 {
          text-align: center;
          margin: auto;
        }
        .description {
          text-align: center;
          img {
            width: 30rem;
            margin: auto;
            border-radius: 2rem;
          }
          .review-message {
            margin: 2%;
            width: 90%;
            margin: auto;
            border-radius: 5rem;
            padding: 2% 3%;
            h3 {
              font-size: 2rem;
              text-align: left;
            }
            p {
              text-align: left;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      text-align: center;
      background-color: rgb(49, 49, 49);
      padding: 1% 0;
      .logo-copyright-social {
        margin: auto;
        .logo-footer {
          margin: auto;
          h1 {
            font-size: 2.5vw;
          }
        }
        p {
          font-size: 2vw;
          margin: auto;
        }
        .social-mail-footer {
          margin: auto;
          .social-footer {
            margin: auto;
            img {
              width: 2rem;
              margin: 2%;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
    .login-form {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.815);
      width: 50%;
      border-radius: 2rem;
      font-weight: bold;
      color: white;
      top: -100%;
      left: 35%;
      transition: 1s;
      h1 {
        font-size: 2rem;
        color: red;
        text-align: center;
        padding: 2% 0;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      form {
        margin: 2rem auto;
        font-size: 1.5rem;
        padding: 0 5%;
        input {
          width: 80%;
          padding: 0.5% 1%;
          border-radius: 1rem;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
    .form {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.815);
      width: 50%;
      text-align: center;
      border-radius: 2rem;
      font-weight: bold;
      color: white;
      top: -100%;
      left: 25%;
      transition: 1s;
      h1 {
        font-size: 2rem;
        color: red;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      form {
        margin: 2rem auto;
        font-size: 1.5rem;
        input {
          width: 15rem;
          padding: 0.5% 1%;
          border-radius: 1rem;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
    .show {
      top: 5%;
    }
    header {
      background-color: rgb(44, 44, 44);
      padding: 0.5rem;
      display: flex;
      .logo {
        width: 30%;
        text-decoration: none;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
      }
      .nav-bar {
        width: 50%;
        .nav-link {
          width: 30%;
          height: auto;
          display: block;
          margin: auto;
          position: fixed;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 1rem 0;
          top: 0;
          border-radius: 2rem;
          right: -22rem;
          transition: 0.5s;
          li {
            margin: auto;
            list-style: none;
            text-align: center;
            margin: 1rem 0;
            a {
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none;
              color: white;
            }
            a:hover {
              color: red;
            }
            .home {
              color: red;
            }
          }
        }
        .show {
          right: 5rem;
        }
      }
      .btn {
        width: 2rem;
      }
    }
    main {
      width: 100%;
      .welcome-image-message {
        width: 100%;
        margin: auto;
        background-color: rgb(34, 34, 34);
        .welcome-image {
          margin: auto;
          width: 80%;
          img {
            margin: auto;
            width: 60vw;
          }
        }
        .welcome-message {
          width: 90%;
          margin: auto;
          padding: 2%;
          text-align: left;
          h1 {
            font-size: 3.2rem;
            color: white;
            span {
              color: red;
            }
          }
          p {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 2% 0;
          }
        }
        .sign-up-form {
          width: 50%;
          background-color: rgb(40, 40, 40);
          color: white;
          font-weight: bold;
          font-size: 1.4rem;
          padding: 3% 5%;
          position: fixed;
          left: 25%;
          top: -70%;
          border-radius: 5rem;
          text-align: center;
          transition: 1s;
          input {
            margin: 2% auto;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
            width: 35%;
          }
          .names {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            input {
              margin: auto;
            }
          }
          .email-password {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            display: block;
            input {
              width: 38%;
            }
          }
          select {
            width: 20%;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
          }
        }
        .show {
          top: 10%;
        }
      }
      .services {
        width: 100%;
        margin: auto;
        padding: 3% 5%;
        background-color: rgb(49, 49, 49);
        .services-list {
          display: flex;
          flex-wrap: wrap;
          .service-item {
            width: 40%;
            margin: 2% auto;
            padding: 1%;
            background-color: grey;
            border-radius: 2rem;
            text-align: center;
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .models {
        padding: 2% 0;
        background-color: rgb(34, 34, 34);
        .model-list {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          .model-item {
            display: flex;
            width: 40%;
            margin: 1.5% auto;
            padding: 1% 2%;
            background-color: rgb(66, 66, 66);
            text-align: center;
            border-radius: 2rem;
            img {
              margin: auto;
              width: 3rem;
            }
            h3 {
              font-size: 1.5rem;
              margin: auto;
            }
          }
        }
      }
      .benefits {
        width: 100%;
        padding: 2% 0;
        background-color: rgb(66, 66, 66);
        .benefit-list-image {
          display: flex;
          .benefit-list {
            margin: 2% 0;
            .benefit-item {
              width: 70%;
              display: flex;
              background-color: black;
              padding: 2% 5%;
              margin: 5% auto;
              border-radius: 5rem;
              text-align: left;
              h4 {
                text-align: left;
              }
              img {
                margin: auto;
                width: 4vw;
              }
            }
          }
          .benefit-image {
            display: none;
          }
        }
      }
      .some-cars {
        padding: 2.5%;
        background-color: rgb(34, 34, 34);
        h2 {
          padding: 2.5%;
        }
        .some-images {
          .car-item {
            text-align: center;
            margin: auto;
            img {
              width: 40vw;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .review {
        background-color: rgb(66, 66, 66);
        width: 100%;
        text-align: left;
        h2 {
          text-align: center;
          margin: auto;
        }
        .description {
          text-align: center;
          img {
            width: 30rem;
            margin: auto;
            border-radius: 2rem;
          }
          .review-message {
            margin: 2%;
            width: 90%;
            margin: auto;
            border-radius: 5rem;
            padding: 2% 3%;
            h3 {
              font-size: 2rem;
              text-align: left;
            }
            p {
              text-align: left;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      text-align: center;
      background-color: rgb(49, 49, 49);
      padding: 1% 0;
      .logo-copyright-social {
        margin: auto;
        .logo-footer {
          margin: auto;
          h1 {
            font-size: 2.5vw;
          }
        }
        p {
          font-size: 2vw;
          margin: auto;
        }
        .social-mail-footer {
          margin: auto;
          .social-footer {
            margin: auto;
            img {
              width: 2rem;
              margin: 2%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
    .login-form {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.815);
      width: 50%;
      border-radius: 2rem;
      font-weight: bold;
      color: white;
      top: -100%;
      left: 35%;
      transition: 1s;
      h1 {
        font-size: 2rem;
        color: red;
        text-align: center;
        padding: 2% 0;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      form {
        margin: 2rem auto;
        font-size: 1.5rem;
        padding: 0 5%;
        input {
          width: 80%;
          padding: 0.5% 1%;
          border-radius: 1rem;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
    .form {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.815);
      width: 50%;
      text-align: center;
      border-radius: 2rem;
      font-weight: bold;
      color: white;
      top: -100%;
      left: 25%;
      transition: 1s;
      h1 {
        font-size: 2rem;
        color: red;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      form {
        margin: 2rem auto;
        font-size: 1.5rem;
        input {
          width: 15rem;
          padding: 0.5% 1%;
          border-radius: 1rem;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
    .show {
      top: 5%;
    }
    header {
      background-color: rgb(44, 44, 44);
      padding: 0.5rem;
      display: flex;
      .logo {
        width: 30%;
        text-decoration: none;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
      }
      .nav-bar {
        width: 50%;
        .nav-link {
          width: 30%;
          height: auto;
          display: block;
          margin: auto;
          position: fixed;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 1rem 0;
          top: -25rem;
          border-radius: 2rem;
          right: 5rem;
          transition: 0.5s;
          li {
            margin: auto;
            list-style: none;
            text-align: center;
            margin: 1rem 0;
            a {
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none;
              color: white;
            }
            a:hover {
              color: red;
            }
            .home {
              color: red;
            }
          }
        }
        .show {
          top: 0rem;
        }
      }
      .btn {
        width: 2rem;
      }
    }
    main {
      width: 100%;
      .welcome-image-message {
        width: 100%;
        margin: auto;
        background-color: rgb(34, 34, 34);
        .welcome-image {
          margin: auto;
          width: 80%;
          img {
            margin: auto;
            width: 60vw;
          }
        }
        .welcome-message {
          width: 80%;
          margin: auto;
          padding: 2%;
          text-align: left;
          h1 {
            font-size: 3.2rem;
            color: white;
            span {
              color: red;
            }
          }
          p {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 2% 0;
          }
        }
        .sign-up-form {
          width: 80%;
          background-color: rgb(40, 40, 40);
          color: white;
          font-weight: bold;
          font-size: 1.4rem;
          padding: 2%;
          position: fixed;
          left: 10%;
          top: -60%;
          border-radius: 5rem;
          text-align: center;
          transition: 1s;
          input {
            margin: 3% 0;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
            width: 30%;
          }
          .names {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            input {
              margin: auto;
            }
          }
          .email-password {
            width: 100%;
            margin: 2% auto;
            padding: 1% 2%;
            display: block;
            input {
              width: 38%;
            }
          }
          select {
            width: 20%;
            padding: 1% 2%;
            border: none;
            border-radius: 2rem;
          }
        }
        .show {
          top: 10%;
        }
      }
      .services {
        width: 100%;
        margin: auto;
        padding: 3% 5%;
        background-color: rgb(49, 49, 49);
        .services-list {
          display: flex;
          flex-wrap: wrap;
          .service-item {
            width: 30%;
            margin: 2% auto;
            padding: 1%;
            background-color: grey;
            border-radius: 2rem;
            text-align: center;
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .models {
        padding: 2% 0;
        background-color: rgb(34, 34, 34);
        .model-list {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          .model-item {
            display: flex;
            width: 40%;
            margin: 1.5% auto;
            padding: 1% 2%;
            background-color: rgb(66, 66, 66);
            text-align: center;
            border-radius: 2rem;
            img {
              margin: auto;
              width: 3rem;
            }
            h3 {
              font-size: 1.5rem;
              margin: auto;
            }
          }
        }
      }
      .benefits {
        width: 100%;
        padding: 2% 0;
        background-color: rgb(66, 66, 66);
        .benefit-list-image {
          display: flex;
          .benefit-list {
            margin: 2% 0;
            .benefit-item {
              width: 70%;
              display: flex;
              background-color: black;
              padding: 2% 5%;
              margin: 5% auto;
              border-radius: 5rem;
              text-align: left;
              h4 {
                text-align: left;
              }
              img {
                margin: auto;
                width: 4vw;
              }
            }
          }
          .benefit-image {
            display: none;
          }
        }
      }
      .some-cars {
        padding: 2.5%;
        background-color: rgb(34, 34, 34);
        h2 {
          padding: 2.5%;
        }
        .some-images {
          .car-item {
            text-align: center;
            margin: auto;
            img {
              width: 20vw;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .review {
        background-color: rgb(66, 66, 66);
        width: 100%;
        text-align: left;
        h2 {
          text-align: center;
          margin: auto;
        }
        .description {
          display: flex;
          img {
            margin: 5%;
            width: 20rem;
            border-radius: 2rem;
          }
          .review-message {
            margin: 2%;
            width: 55%;
            margin: auto;
            border-radius: 5rem;
            padding: 2% 3%;
            h3 {
              font-size: 2rem;
              text-align: left;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      text-align: center;
      background-color: rgb(49, 49, 49);
      padding: 1% 0;
      .logo-copyright-social {
        margin: auto;
        .logo-footer {
          margin: auto;
          h1 {
            font-size: 2.5vw;
          }
        }
        p {
          font-size: 2vw;
          margin: auto;
        }
        .social-mail-footer {
          margin: auto;
          .social-footer {
            margin: auto;
            img {
              width: 2rem;
              margin: 2%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    header {
      background-color: rgb(44, 44, 44);
      padding: 0.5rem;
      display: flex;
      .logo {
        width: 30%;
        text-decoration: none;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
      }
      .nav-bar {
        width: 50%;
        ul {
          width: 90%;
          height: 100%;
          display: flex;
          margin: auto;
          li {
            margin: auto;
            list-style: none;

            a {
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none;
              color: white;
            }
            a:hover {
              color: red;
            }
            .home {
              color: red;
            }
          }
        }
      }
      .btn {
        display: none;
      }
    }
    main {
      width: 100%;
      background-color: rgb(34, 34, 34);
      .login-form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 30%;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 35%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
          text-align: center;
          padding: 2% 0;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          padding: 0 5%;
          input {
            width: 20rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .welcome-image-message {
        width: 90%;
        margin: auto;
        display: flex;
        .welcome-image {
          margin: auto;
          width: 45%;
          img {
            width: 40vw;
          }
        }
        .welcome-message {
          width: 50%;
          margin: auto;
          padding: 2%;
          text-align: left;
          h1 {
            font-size: 3.2rem;
            color: white;
            span {
              color: red;
            }
          }
          p {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 2% 0;
          }
        }
      }
      .form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 50%;
        text-align: center;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 25%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          input {
            width: 15rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .show {
        top: 5%;
      }
      .services {
        width: 100%;
        margin: auto;
        padding: 3% 5%;
        background-color: rgb(49, 49, 49);
        .services-list {
          display: flex;
          flex-wrap: wrap;
          .service-item {
            width: 30%;
            margin: 2% auto;
            padding: 1%;
            background-color: grey;
            border-radius: 2rem;
            text-align: center;
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .models {
        margin: 2% 0;
        .model-list {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          .model-item {
            display: flex;
            width: 28%;
            margin: 1.5% auto;
            padding: 1% 2%;
            background-color: rgb(66, 66, 66);
            text-align: center;
            border-radius: 2rem;
            img {
              margin: auto;
              width: 3rem;
            }
            h3 {
              font-size: 1.5rem;
              margin: auto;
            }
          }
        }
      }
      .benefits {
        width: 100%;
        padding: 2% 0;
        background-color: rgb(66, 66, 66);
        .benefit-list-image {
          display: flex;
          .benefit-list {
            margin: 2% 0;
            .benefit-item {
              width: 70%;
              display: flex;
              background-color: black;
              padding: 2% 5%;
              margin: 5% auto;
              border-radius: 5rem;
              text-align: left;
              h4 {
                text-align: left;
              }
              img {
                margin: auto;
                width: 4vw;
              }
            }
          }
          .benefit-image {
            margin: auto;
            text-align: center;
            img {
              width: 40rem;
            }
          }
        }
      }
      .some-cars {
        padding: 2.5%;
        h2 {
          padding: 2.5%;
        }
        .some-images {
          display: flex;
          .car-item {
            text-align: center;
            margin: auto;
            img {
              width: 20vw;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .review {
        background-color: rgb(66, 66, 66);
        width: 100%;
        text-align: left;
        h2 {
          text-align: center;
          margin: auto;
        }
        .description {
          display: flex;
          img {
            margin: 5%;
            width: 30rem;
            border-radius: 2rem;
          }
          .review-message {
            margin: 2%;
            width: 50%;
            margin: auto;
            border-radius: 5rem;
            padding: 2% 3%;
            h3,
            p {
              text-align: left;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      text-align: center;
      background-color: rgb(49, 49, 49);
      padding: 1% 0;
      .logo-copyright-social {
        display: flex;
        margin: auto;
        .logo-footer {
          margin: auto;
          h1 {
            font-size: 2.5vw;
          }
        }
        p {
          font-size: 1.5vw;
          margin: auto;
        }
        .social-mail-footer {
          margin: auto;
          .social-footer {
            margin: auto;
            img {
              width: 2rem;
              margin: 2% 3%;
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    width: 100%;
    header {
      background-color: rgb(44, 44, 44);
      padding: 0.5rem;
      display: flex;
      .logo {
        text-decoration: none;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
      }
      .nav-bar {
        width: 50%;
        ul {
          width: 80%;
          height: 100%;
          display: flex;
          margin: auto;
          li {
            margin: auto;
            list-style: none;

            a {
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none;
              color: white;
            }
            a:hover {
              color: red;
            }
            .home {
              color: red;
            }
          }
        }
      }
      .btn {
        display: none;
      }
    }
    main {
      width: 100%;
      .login-form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 30%;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 35%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
          text-align: center;
          padding: 2% 0;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          padding: 0 5%;
          input {
            width: 20rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .form {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.815);
        width: 50%;
        text-align: center;
        border-radius: 2rem;
        font-weight: bold;
        color: white;
        top: -100%;
        left: 25%;
        transition: 1s;
        h1 {
          font-size: 2rem;
          color: red;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        form {
          margin: 2rem auto;
          font-size: 1.5rem;
          input {
            width: 15rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
          select {
            width: 15rem;
            padding: 0.5% 1%;
            border-radius: 1rem;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .show {
        top: 5%;
      }
      .welcome-image-message {
        width: 100%;
        margin: auto;
        display: flex;
        background-color: rgb(34, 34, 34);
        .welcome-image {
          margin: auto;
          width: 45%;
          img {
            width: 40vw;
          }
        }
        .welcome-message {
          width: 45%;
          margin: auto;
          padding: 2%;
          text-align: left;
          h1 {
            font-size: 3.4rem;
            color: white;
            span {
              color: red;
            }
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 2% 0;
          }
        }
      }
      .services {
        width: 100%;
        margin: auto;
        padding: 3% 5%;
        background-color: rgb(49, 49, 49);
        .services-list {
          display: flex;
          flex-wrap: wrap;
          .service-item {
            width: 30%;
            margin: 2% auto;
            padding: 1%;
            background-color: grey;
            border-radius: 2rem;
            text-align: center;
          }
        }
      }
      .models {
        padding: 5% 2%;
        background-color: rgb(34, 34, 34);
        .model-list {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          .model-item {
            display: flex;
            width: 24%;
            margin: 1.5% auto;
            padding: 1% 2%;
            background-color: rgb(66, 66, 66);
            text-align: center;
            border-radius: 2rem;
            img {
              margin: auto;
              width: 5rem;
            }
            h3 {
              margin: auto;
            }
          }
        }
      }
      .benefits {
        width: 100%;
        padding: 2% 0;
        background-color: rgb(66, 66, 66);
        .benefit-list-image {
          display: flex;
          .benefit-list {
            margin: 2% 0;
            .benefit-item {
              width: 70%;
              display: flex;
              background-color: black;
              padding: 2% 5%;
              margin: 5% auto;
              border-radius: 5rem;
              text-align: left;
              h4 {
                text-align: left;
              }
              img {
                margin: auto;
                width: 4vw;
              }
            }
          }
          .benefit-image {
            margin: auto;
            text-align: center;
            img {
              width: 60rem;
            }
          }
        }
      }
      .some-cars {
        padding: 2% 4%;
        background-color: rgb(34, 34, 34);
        h2 {
          padding: 2.5%;
        }
        .some-images {
          display: flex;
          .car-item {
            text-align: center;
            margin: auto;
            img {
              width: 20vw;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .review {
        background-color: rgb(66, 66, 66);
        width: 100%;
        text-align: left;
        padding: 2% 5%;
        h2 {
          text-align: center;
          margin: auto;
        }
        .description {
          display: flex;
          img {
            margin: 5%;
            width: 30rem;
            border-radius: 2rem;
          }
          .review-message {
            margin: 2%;
            width: 50%;
            margin: auto;
            border-radius: 5rem;
            padding: 2% 3%;
            h3,
            p {
              text-align: left;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      text-align: center;
      background-color: rgb(49, 49, 49);
      padding: 1% 0;
      .logo-copyright-social {
        display: flex;
        margin: auto;
        .logo-footer {
          margin: auto;
          h1 {
            font-size: 2vw;
          }
        }
        p {
          font-size: 1.2vw;
          margin: auto;
        }
        .social-mail-footer {
          margin: auto;
          .social-footer {
            margin: auto;
            img {
              width: 2rem;
              margin: 2% 3%;
            }
          }
        }
      }
    }
  }
}
