* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: black;
  transition: 0.5s;
  background-color: rgba(31, 31, 31, 1);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  li {
    list-style: none;
  }
  h1 {
    color: white;
    font-size: 1rem;
    margin: 2% 0;
  }
  span {
    color: rgba(198, 22, 22, 1);
  }
  h2 {
    text-align: center;
    font-size: 1.5em;
    color: rgba(198, 22, 22, 1);
    margin: 2% 0;
  }
  h3 {
    font-size: 0.6rem;
  }
  h4 {
    font-size: 0.8em;
    color: #c61616;
    margin: 2% 0;
  }
  p {
    margin: 2% 0;
    font-size: 0.5rem;
  }
  #rental {
    color: #c61616;
  }
}

@media screen and (max-width: 760px) {
  header {
    background-color: rgba(31, 31, 31, 1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1% 0;
    a {
      color: white;
    }
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .logo {
        width: 50%;
        margin: auto;
        font-size: 1rem;
        text-align: center;
      }
      .nav_menu {
        @media screen and (max-width: 760px) {
          position: fixed;
          padding: 1rem 0;
          width: 40%;
          top: -25rem;
          left: 10rem;
          right: 0;
          margin: 0 auto;
          transition: 0.4s;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 1rem;
        }
      }
      .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        .nav_item {
          a {
            font-size: 1rem;
            color: black;
          }
        }
      }

      .nav_toggle {
        width: 50%;
        margin: auto;
        text-align: right;
        cursor: pointer;
        img {
          margin: auto;
          width: 1.5rem;
        }
      }
      #nav-menu.active {
        top: 0.5rem;
      }
    }
  }
  main {
    width: 100%;
    margin-top: 2rem;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    li {
      list-style: none;
    }
    h1 {
      color: white;
      font-size: 1.6rem;
      margin: 2% 0;
    }
    span {
      color: rgba(198, 22, 22, 1);
    }
    h2 {
      text-align: center;
      font-size: 1.4em;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1rem;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    p {
      margin: 2% 0;
      font-size: 2.5vw;
    }
    .rental-welcome-image {
      padding: 2rem 0;
      background-color: rgba(49, 49, 49, 1);
      .image {
        width: 40%;
        margin: auto;
        img {
          width: 30rem;
        }
      }
      .welcome {
        width: 100%;
        margin: auto;
        text-align: center;
        button {
          padding: 1rem 2rem;
          border-radius: 2rem;
          border: none;
          background-color: #c61616;
          color: white;
          font-weight: bold;
        }
      }
      .image2 {
        display: none;
      }
    }
    .rent-list {
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .rent-1,
      .rent-2,
      .rent-3,
      .rent-4,
      .rent-5,
      .rent-6,
      .rent-7,
      .rent-8,
      .rent-9 {
        background-color: grey;
        width: 20rem;
        border-radius: 2rem;
        margin: 2rem auto;
        text-align: center;
        img {
          width: 15rem;
        }
        .details {
          font-weight: bold;
        }
        .year {
          color: black;
          font-weight: bold;
        }
        button {
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }
        button:hover {
          background-color: #c61616;
          color: white;
        }
      }
    }
  }
  footer {
    width: 100%;
    text-align: center;
    background-color: rgb(49, 49, 49);
    padding: 5% 0;
    .logo-copyright-social {
      .logo-footer {
        h1 {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
      }
      .social-mail-footer {
        .social-footer {
          img {
            width: 2rem;
            margin: 2% 3%;
          }
        }
      }
    }
    .logo-copyright-social {
      .logo-footer {
        h1 {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
      }
      .social-mail-footer {
        .social-footer {
          img {
            width: 2rem;
            margin: 2% 3%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 760px) and (max-width: 1350px) {
  header {
    background-color: rgba(31, 31, 31, 1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1% 0;
    a {
      color: white;
    }
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .logo {
        width: 50%;
        margin: auto;
        padding: 1%;
        font-size: 1.6rem;
      }
      .nav_menu {
        @media screen and (max-width: 1350px) {
          position: fixed;
          padding: 1rem 0;
          width: 40%;
          top: -310px;
          left: 10rem;
          right: 0;
          margin: 0 auto;
          transition: 0.4s;
          background-color: white;
          border-radius: 1rem;
        }
      }
      .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        .nav_item {
          a {
            font-size: 1rem;
            color: black;
          }
          .links:hover {
            color: #c61616;
          }
        }
      }
      .nav_toggle {
        width: 50%;
        margin: auto;
        text-align: right;
        cursor: pointer;
        img {
          margin: auto;
        }
      }
    }
    #nav-menu.active {
      top: 0.5rem;
    }
  }
  main {
    width: 100%;
    margin-top: 2rem;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    li {
      list-style: none;
    }
    h1 {
      color: white;
      font-size: 1.6rem;
      margin: 2% 0;
    }
    span {
      color: rgba(198, 22, 22, 1);
    }
    h2 {
      text-align: center;
      font-size: 1.4em;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1rem;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    p {
      margin: 2% 0;
      font-size: 1rem;
    }
    .rental-welcome-image {
      padding: 2rem 0;
      display: flex;
      background-color: rgba(49, 49, 49, 1);
      .image {
        display: none;
      }
      .welcome {
        width: 30%;
        margin: auto;
        button {
          padding: 1rem 2rem;
          border-radius: 2rem;
          border: none;
          background-color: #c61616;
          color: white;
          font-weight: bold;
        }
      }
      .image2 {
        width: 40%;
        margin: auto;
        padding: 2rem 0;
        img {
          width: 45vw;
        }
      }
    }
    .rent-list {
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .rent-1,
      .rent-2,
      .rent-3,
      .rent-4,
      .rent-5,
      .rent-6,
      .rent-7,
      .rent-8,
      .rent-9 {
        background-color: grey;
        width: 20rem;
        border-radius: 2rem;
        margin: 2rem auto;
        text-align: center;
        img {
          width: 15rem;
        }
        .details {
          font-weight: bold;
        }
        .year {
          color: black;
          font-weight: bold;
        }
        button {
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }
        button:hover {
          background-color: #c61616;
          color: white;
        }
      }
    }
  }
  footer {
    width: 100%;
    text-align: center;
    background-color: rgb(49, 49, 49);
    padding: 5% 0;
    .logo-copyright-social {
      .logo-footer {
        h1 {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
      }
      .social-mail-footer {
        .social-footer {
          img {
            width: 2rem;
            margin: 2% 3%;
          }
        }
      }
    }
    .logo-copyright-social {
      .logo-footer {
        h1 {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
      }
      .social-mail-footer {
        .social-footer {
          img {
            width: 2rem;
            margin: 2% 3%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  header {
    background-color: rgba(31, 31, 31, 1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1% 0;
    a {
      color: white;
    }
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .logo {
        width: 25%;
        margin: auto;
        padding: 0.5rem;
        font-size: 1.6rem;
      }
      .nav_menu {
        width: 65%;
        top: 0px;
        left: 0px;
        right: 0;
        margin: 0 auto;
        transition: 0.4s;
        border-radius: 1rem;
      }
      .nav_list {
        margin: auto;
        display: flex;
        justify-content: end;
        .nav_item {
          margin: 1rem 2rem;
          a {
            font-size: 1.2rem;
          }
          .links:hover {
            color: #c61616;
          }
        }
      }
      .nav_toggle {
        display: none;
      }
    }
  }
  main {
    width: 100%;
    margin-top: 2rem;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    li {
      list-style: none;
    }
    h1 {
      color: white;
      font-size: 1.6rem;
      margin: 2% 0;
    }
    span {
      color: rgba(198, 22, 22, 1);
    }
    h2 {
      text-align: center;
      font-size: 1.4em;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1rem;
      color: rgba(198, 22, 22, 1);
      margin: 2% 0;
    }
    p {
      margin: 2% 0;
      font-size: 1rem;
    }
    .rental-welcome-image {
      padding: 2rem 0;
      display: flex;
      background-color: rgba(49, 49, 49, 1);
      .image {
        display: none;
      }
      .welcome {
        width: 30%;
        margin: auto;
        button {
          padding: 1rem 2rem;
          border-radius: 2rem;
          border: none;
          background-color: #c61616;
          color: white;
          font-weight: bold;
        }
      }
      .image2 {
        margin: 3% auto;
        img {
          width: 45vw;
        }
      }
    }
    .rent-list {
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .rent-1,
      .rent-2,
      .rent-3,
      .rent-4,
      .rent-5,
      .rent-6,
      .rent-7,
      .rent-8,
      .rent-9 {
        background-color: grey;
        width: 30rem;
        border-radius: 2rem;
        margin: 2rem auto;
        text-align: center;
        img {
          width: 20rem;
        }
        .details {
          font-weight: bold;
        }
        .year {
          color: black;
          font-weight: bold;
        }
        button {
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }
        button:hover {
          background-color: #c61616;
          color: white;
        }
      }
    }
  }
  footer {
    width: 100%;
    text-align: center;
    background-color: rgb(49, 49, 49);
    padding: 1% 0;
    .logo-copyright-social {
      display: flex;
      margin: auto;
      .logo-footer {
        margin: auto;
        h1 {
          font-size: 2vw;
        }
      }
      p {
        font-size: 1.2vw;
      }
      .social-mail-footer {
        margin: auto;
        .social-footer {
          margin: auto;
          img {
            width: 2rem;
            margin: 2% 3%;
          }
        }
      }
    }
  }
}
